<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.database.paperms.mapper.CommentMapper">

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into comment(paper_id, comment_user_id, comment_content, comment_date)
        values (#{paperId}, #{commentUserId}, #{commentContent}, #{commentDate})
    </insert>

    <delete id="deleteComment">
        delete
        from comment
        where comment_id = #{commentId}
    </delete>

    <update id="updateComment" parameterType="com.database.paperms.entity.Comment">
        update comment
        set comment_content= #{commentContent}
        where comment_id = #{commentId}
    </update>

    <update id="removeComment" parameterType="com.database.paperms.entity.Comment">
        update comment
        set comment_content="此评论已经被删除！"
        where comment_id = #{commentId}
    </update>

    <select id="getComment" resultType="com.database.paperms.entity.Comment">
        select *
        from comment
        where comment_id = #{commentId}
    </select>

    <select id="getByPaperId" resultType="com.database.paperms.entity.Comment">
        select *
        from comment
        where paper_id = #{paperId}
    </select>

    <select id="listComment" resultType="com.database.paperms.entity.Comment">
        select *
        from comment
        where paper_id = #{paperId}
            limit #{offset}, #{pageSize};
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from comment
        where paper_id = #{paperId}
    </select>

</mapper>