<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.database.paperms.mapper.ReplyMapper">

    <insert id="insertReply" useGeneratedKeys="true" keyProperty="replyId">
        insert into reply(comment_id, reply_user_id, reply_user_to_id, reply_content, reply_date)
        values (#{commentId}, #{replyUserId}, #{replyUserToId}, #{replyContent}, #{replyDate})
    </insert>

    <delete id="deleteReply">
        delete
        from reply
        where reply_id = #{replyId}
    </delete>

    <update id="updateReply" parameterType="com.database.paperms.entity.Reply">
        update reply
        set reply_content= #{replyContent}
        where reply_id = #{replyId}
    </update>

    <select id="getReply" resultType="com.database.paperms.entity.Reply">
        select *
        from reply
        where reply_id = #{replyId}
    </select>

    <select id="getByCommentId" resultType="com.database.paperms.entity.Reply">
        select *
        from reply
        where comment_id = #{commentId}
    </select>

</mapper>