<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.database.paperms.mapper.ResearchDirectionMapper">

    <insert id="insertResearchDirection" useGeneratedKeys="true" keyProperty="rdId">
        insert into research_direction(rd_id, rd_name)
        values (#{rdId}, #{rdName})
    </insert>

    <delete id="deleteResearchDirection">
        delete
        from research_direction
        where rd_id = #{rdId}
    </delete>

    <update id="updateResearchDirection" parameterType="com.database.paperms.entity.ResearchDirection">
        update research_direction
        set rd_name=#{rdName}
        where rd_id = #{rdId}
    </update>

    <select id="list" resultType="com.database.paperms.entity.ResearchDirection">
        select rd_id, rd_name
        from research_direction
        order by rd_id
    </select>
    <select id="getById" resultType="java.lang.String">
        select rd_name from research_direction where rd_id = #{id}
    </select>
</mapper>