<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.database.paperms.mapper.UserNoteMapper">

    <insert id="insertUserNote" keyProperty="noteUserId">
        insert into user_note(note_user_id, note_paper_id, note_content, note_update_time)
        values (#{noteUserId}, #{notePaperId}, #{noteContent}, #{noteUpdateTime})
    </insert>

    <delete id="deleteUserNote">
        delete
        from user_note
        where note_paper_id = #{notePaperId}
          and note_user_id = #{noteUserId}
    </delete>

    <select id="getUserNote" resultType="com.database.paperms.entity.UserNote">
        select *
        from user_note
        where note_paper_id = #{notePaperId}
          and note_user_id = #{noteUserId}
    </select>

    <update id="updateUserNote" parameterType="com.database.paperms.entity.UserNote">
        update user_note
        set note_content= #{noteContent}
        where note_paper_id = #{notePaperId}
          and note_user_id = #{noteUserId}
    </update>

    <select id="listUserNote" resultType="com.database.paperms.entity.UserNote">
        select *
        from user_note
        where note_user_id = #{noteUserId}
        limit #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from user_note
    </select>

</mapper>