<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.database.paperms.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.database.paperms.entity.User" >
        <id column="user_id" property="userId" />
        <result column="user_account" property="userAccount"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_permission" property="userPermission"/>
    </resultMap>

    <select id="getById" resultMap="UserResultMap">
        select * from user where user_id = #{id}
    </select>

</mapper>